/*.AdminSider a.active{
	color:#1da57a;
}*/
.AdminSider .ant-menu-item-selected{
	background-color: transparent !important ;
}
.AdminSider .ant-menu-item-selected:after{
	border-right: none !important ;
}