.content{
	width: 1228px;
	margin:0 auto;
}
.clearfix:after{
	display:block;
	visibility:hidden;
	height:0;
	content:"";
	clear: both;
}
.clearfix{
	*zoom: 1;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}